html, body{
    height:100%;
    margin:0;
}


.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 1000; 
}

.logo {
    height: 60px; 
    padding: 10px;
} 



body {
    background-color:white;
    margin:0;
}

.navbar {
    display:flex;
    justify-content:center;
    background-color:black;
    position:fixed;
    top:80px;
    width:100%;
    z-index:999;
}

.navbar a {
    flex: 1;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all ease 0.3s;
}
    

.navbar a:hover{
    color:grey; 
    transform: scale(1.2);
}

.navbar a.active{
    color:grey
}

select {
    width:470px;
    padding:10px;
    border: 1px solid black;
    border-radius:4px;
    font-size:20px;
    margin-top:10px;
}

label {
    width:200px;
    padding:10px;
    font-size:20px;
    font-weight:bold;
}

.text-container{
    display:flex;
    flex-direction:column;
    padding-top:185px;
    transition: ease-in 0.3s;
}

.dropdown-container {
    display:flex;
    align-items:center;
    padding-top:130px;
    position:fixed;
    z-index:998;
    background-color:white;
    width:100%
}

.chap-text {
    display:none;
    padding:10px;
    margin:5px 0;
    border:1px solid black;
    border-radius:4px;
    background-color:rgb(250, 242, 228);
    font-size:48px;
    color:black;


}

.text-container img {
    display:block;
    margin:0 auto;
    width:80%;
    height:auto;
    border-radius:10px;
    border:5px solid black;
    margin-top:10px;
    box-shadow: 10px 10px 8px #888888;
    padding-bottom:40px;
}

.homepage-container {
    position: relative;
    width: 100%; 
    height: calc(100vh - 120px); 
    overflow: hidden; 
    margin-top: 120px; 
    background-color: grey; 
    background-image: url('home_page.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}




.main-text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:40px;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
    font-weight:bold;
    border-radius:8px;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.socials a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition: all ease 0.3s;
}

.socials a:hover {
    color: grey;
    transform:scale(1.1);
}

.noscroll {
    overflow:hidden;
}

.chap-text a{
    font-size: 15px;
}

.band-container{
    margin-top: 130px;
    padding-bottom:60px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}



.band-image {
    position:relative;
}

.band-image img{
    width:100%;
    height: 600px;
    border-radius:10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    object-fit:cover;
}

.text-overlay {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    background-color:rgba(0,0,0,0.5);
    padding:10px;
    opacity:0%;
    text-align:center;
    font-size:24px;
    border-radius:5px;
    border:2px solid black;
    transition:all ease 0.3s;
}

.band-image:hover .text-overlay {
    opacity: 1;
}

.tour {
    text-align:center;
    font-size:32px;
    font-weight:bold;
    background-color:white;

}

.tour-container {
    margin-top:140px;
    padding-bottom:50px;
}

.japan-image {
    position:relative;
    width:100%;
}

.japan-image img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:5px;
    border:2px solid black;

}

.japan-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    font-size:32px;
    font-weight:bold;
}

.usa-image {
    position:relative;
    width:100%;
}

.usa-image img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:5px;
    border:2px solid black;

}

.usa-text{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    text-align: center;
    font-size:32px;
    font-weight:bold;
}
.tour-dates{
    text-align:center;
    font-size:24px;
    font-weight:bold;
    line-height:2;
}


.merch-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top:155px;
}

.merch-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    display: none; 
    text-align: center;
    overflow:hidden;
}



.merch-item img {
    max-width: 100%;
    height: auto;
    border-radius:5px;
    border:2px solid black;
    transition: all ease 0.3s;
}

.merch-item:hover img {
    transform: scale(1.05);
}

.merch-item p{
    font-size:24px;
    font-weight:bold;
}

.filter {
    width:100%;
    margin-top: 130px;
    margin-bottom: 20px;
    text-align:center;
    background-color:white;
    position:fixed;
}


.filter label {
    margin-right: 10px;
}

.filter-container {
    padding-bottom:50px;
}